body {
    font-family: sans-serif;
}

.score-wrapper {
    padding-top: 5px;
    width: 100%;
    border-collapse: collapse;
    max-height: calc(100vh - 150px); /* Adjust the height to leave enough space for the keyboard */
    overflow-y: auto;
}


th,
td {
    border: 1px solid black;
    padding: 2px;
    font-size: 1.2rem;
    text-align: center;
}

.score-wrapper {
    max-height: calc(100vh - 240px); /* Adjust the height to leave enough space for the keyboard */
    overflow-y: auto;
}
#keyboard{
    width: 100%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 2px;
    left: 0;
    overflow: auto;

}
.keyboard-row {
    border-collapse: collapse;
    justify-content: center;
}

input {
    text-align: center;
    font-size: 1rem;
}

input:focus {
    background-color: yellow;
}

.over50 {
    color: red;
}

#keyboard td {
    font-size: 1.3rem;
    width: 18%;
    height: 50px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.keyboard-backspace-left{
    border:none !important;
    width:10% !important;
}
.delButton {
    width: 18% !important;
    color: black;
}

.yellow-circle {
    position:relative;
    background-image: radial-gradient(circle, #ffdf00 46%, transparent 5%);
    background-repeat: no-repeat;
}
.red-circle {
    position:relative;
    background-image: radial-gradient(circle, red 46%, transparent 5%);
    background-repeat: no-repeat;
    color:white;
}
.blue-circle {
    position:relative;
    background-image: radial-gradient(circle, blue 46%, transparent 5%);
    background-repeat: no-repeat;
    color:white;
}
.black-circle {
    position:relative;
    background-image: radial-gradient(circle, black 46%, transparent 5%);
    background-repeat: no-repeat;
    color:white;
}
.white-circle {
    color:black;
}
.yellow {
    background-color: #ffdf00;
    color: black;
}

.red {
    background-color: red;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

#score-table {
    width: 100%;
    table-layout: fixed;
}

#score-table td:nth-child(1) {
    width: 5%;
}

#score-table td:nth-child(2),
#score-table td:nth-child(3),
#score-table td:nth-child(4),
#score-table td:nth-child(5),
#score-table td:nth-child(6) {
    width: 15%;

}

#score-table td:nth-child(7) {
    width: 20%;
}
.inner-outline {
    outline: 3px solid red;
    padding: 1px;
}
