body {
    font-family: sans-serif;
}

.score-wrapper {
    padding-top: 5px;
    width: 100%;
    border-collapse: collapse;
    max-height: calc(100vh - 150px); /* Adjust the height to leave enough space for the keyboard */
    overflow-y: auto;
}


th,
td {
    border: 1px solid black;
    padding: 2px;
    font-size: 1.2rem;
    text-align: center;
}

#keyboard{
    width: 80%;
    border: none;
    margin-left: auto;
    margin-right: auto;

}
.keyboard-row {
    /*display: flex;*/
    border-collapse: collapse;

    justify-content: center;
}

input {
    text-align: center;
    font-size: 1rem;
}

input:focus {
    background-color: yellow;
}

#keyboard td {
    font-size: 1.3rem;
    width: 20%;
    height: 50px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.yellow {
    background-color: yellow;
    color: black;
}

.red {
    background-color: red;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.delButton {
    font-size: 24px;
    /*font-family: "sans-serif";*/
    /*font-size: 100pt;*/
    color: black;
}


#score-table {
    width: 100%;
    table-layout: fixed;
}

#score-table td:nth-child(1) {
    width: 5%;
}

#score-table td:nth-child(2),
#score-table td:nth-child(3),
#score-table td:nth-child(4),
#score-table td:nth-child(5),
#score-table td:nth-child(6) {
    width: 15%;

}

#score-table td:nth-child(7) {
    width: 20%;
}
.inner-outline {
    outline: 2px solid red;
    padding: 1px;
}
