body {
    font-family: sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 2px;
    font-size: 1.2rem;
    text-align: center;
}
.keyboard-row {
    display: flex;
    justify-content: center;
}

input{
    text-align: center;
    font-size: 1rem;
}
input:focus {
    background-color: yellow;
}

#keyboard button {
    font-size: 1.3rem;
    width: 15%;
    height: 50px;
    margin: 2px;
    text-align: center;
    -webkit-appearance: none;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.score-wrapper {
    max-height: calc(100vh - 150px); /* Adjust the height to leave enough space for the keyboard */
    overflow-y: auto;
}

#score-table {
    width: 100%;
    table-layout: fixed;
}

#score-table td:nth-child(1){
    width: 5%;
}

#score-table td:nth-child(2),
#score-table td:nth-child(3),
#score-table td:nth-child(4),
#score-table td:nth-child(5),
#score-table td:nth-child(6){
    width: 15%;

}
#score-table td:nth-child(7) {
    width: 20%;
}