#counter {
    background: green;
    font-family: monospace;
    text-align: center;
    font-size: 20vmax;
}


body {
    background: #222222;
    font-family: monospace;
    padding: 0;
    margin: 0;
}


li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 10vh;
    /*border-bottom: 1px solid #333;*/
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
}

span {
    font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
}

label {
    display: block;
    position: relative;
    font-weight: 200;
    font-size: 5vh;

    /*font-size: 1.35em;*/
    /*padding: 25px 25px 25px 80px;*/
    /*margin: 10px auto;*/
    height: 10vh;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul li:hover label {
    color: #FFFFFF;
}

input[type=radio]:checked ~ label {
    color: #0DFF92;
}


#controller {
    text-align: center;
    font-size: 15vmax;
}
